<header>
  <h1>Jorge Gomez</h1>
  <h2>Estudiante de Ingeniería de Sistemas y Ciencia de Datos</h2>
</header>

<nav>
  <ul>
      <li><a href="#about">Acerca de mí</a></li>
      <li><a href="#education">Educación</a></li>
      <li><a href="#contact">Contacto</a></li>
  </ul>
</nav>

<section id="about">
  <h3>Acerca de mí</h3>
  <p>Soy Jorge Gomez, estudiante de Ingeniería de Sistemas y Ciencia de Datos en la Pontificia Universidad Javeriana. Tengo un diploma de nivel B1 en inglés y A2 en alemán. Me entusiasma saber sobre la tecnología y el análisis de datos.</p>
</section>

<section id="education">
  <h3>Educación</h3>
  <p><strong>Universidad:</strong> Pontificia Universidad Javeriana</p>
  <p>Ingeniería de Sistemas y Ciencia de Datos</p>
  <p><strong>Idiomas:</strong></p>
  <ul>
      <li>Inglés - B1</li>
      <li>Alemán - A2</li>
  </ul>
</section>

<section id="contact">
  <h3>Contacto</h3>
  <ul>
      <li><a href="" target="_blank">whatsapp</a></li>
      <li><a href="https://github.com/jorgegz10" >github</a></li>
      <li><a href="gzjorgeesteban@yahoo.com">Correo Electrónico</a></li>
  </ul>
</section>